After=pigpiod.service

[Service]
ExecStart=/bin/bash -c '/home/pi/go/bin/pi-net-dht <collector-host> <node> <location> <sensor> <pin> <mock>'

[Install]
WantedBy=multi-user.target